.form__input {
  /* background: transparent; */
  outline: none !important;
  border-radius: .1rem;
  margin: 0.3rem 0px;
  padding: 0.5rem 5px 0.5rem 0px;
}
input.form__input:focus,
input.form__input:active    {
  outline: none;
  border-color: rgb(82, 82, 82);
  box-shadow: none;
  /* background-color: transparent; */
}

.main__container {
  height: 70%;
  width: 100%;
  margin: auto;
}
.main__container .left__pane {
  height: 100%;
  padding: 0;
}
.main__container .left__pane img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main__container .right__pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__container .right__pane .right__pane__content {
  width: 80%;
  height: 95%;
}

.submit{
  width: 20px;
  margin: 2.5rem auto;
  box-shadow: 500px 20px 5px solid #232323 !important;
}
.submit__btn {
  background-color: #b67b44;
  display: inline;
  padding: 0.5rem 2rem;
  color: white;
  font-weight: 500;
  font-size: larger;
  border-radius: 0;
}
.submit__btn:hover {
  background-color: #9e6a3a;
  color: white;
}
/* .role__toggle__button:focus{
} */
input[type=radio]#btnradio1:checked {
  background-color:#b67b44 !important;
  
}